@import "reset.css";

h1 {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  padding-top: 24px;
  padding-bottom: 12px;
}

h2 {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  padding-top: 24px;
  padding-bottom: 12px;
}

h3 {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 12px;
}

h4 {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.408px;
  padding-top: 24px;
  padding-bottom: 4px;
}

p {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 12px;
}

q {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #8A8A8E;
  padding-bottom: 12px;
  padding-top: 2px;
}

li{
    font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
    display: list-item;
    padding-bottom: 12px;
}

li q{
    padding-bottom: 0px;
}

ul {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  display: block;
}

ul li {
    list-style: none;
    padding-left: 24px;
   }

ul li:before{
    content: '–';
    padding-right: 12px;
    margin-left: -24px;
}

ol {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  padding-left: 24px;
  display: block;
  list-style-type: decimal;
}

img{
    display: block;
    width: 100%;
    padding-bottom: 12px;
    padding-top: 24px;
}

b{
    font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: 007AFF;
}

.hero-img{
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
    padding-top: 0;
}
