@import "reset.css";

h1 {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  padding-top: 24px;
  padding-bottom: 12px;
}

h2 {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  padding-top: 24px;
  padding-bottom: 12px;
}

h3 {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 12px;
}

h4 {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.408px;
  padding-top: 24px;
  padding-bottom: 4px;
}

p {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 12px;
}

q {
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #6D7986;
  padding-bottom: 12px;
  padding-top: 2px;
}

li{
    font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
    display: list-item;
    padding-left: 4px;
    padding-bottom: 12px;
}

li q{
    padding-bottom: 0px;
}

ul {
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  padding-left: 17px;
  display: block;
  list-style-type: disc;
}
ul li {
  list-style-type: "–  ";
  list-style-position: outside;
}

ol {
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  padding-left: 17px;
  display: block;
  list-style-type: decimal;
}

ol li {
  list-style-position: outside;
  display: list-item;
  padding-left: 4px;
}

img{
    display: block;
    width: 100%;
    padding-bottom: 12px;
    padding-top: 24px;
}

b{
    font-family: -apple-system, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.hero-img{
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
    padding-top: 0;
}
