@import "reset.css";

font-face{
  font-family: SF-Pro-Text-Bold;
  src: url(./Fonts/SF-Pro-Text-Bold.ttf);
}
font-face{
  font-family: SF-Pro-Text-Semibold;
  src: url(./Fonts/SF-Pro-Text-Semibold.ttf);
}
font-face{
  font-family: SF-Pro-Text-Regular;
  src: url(./Fonts/SF-Pro-Text-Regular.ttf);
}

h1 {
  font-family: SF-Pro-Text-Semibold;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.36px;
  margin-top: 24px;
  margin-bottom: 12px;
}

h2 {
  font-family: SF-Pro-Text-Semibold;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.352px;
  margin-top: 24px;
  margin-bottom: 12px;
}

h3 {
  font-family: SF-Pro-Text-Semibold;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.408px;
  margin-top: 24px;
  margin-bottom: 12px;
}

h4 {
  font-family: SF-Pro-Text-Semibold;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.408px;
  margin-top: 24px;
  margin-bottom: 12px;
}

p {
  font-family: SF Pro Text Regular;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.408px;
  margin-bottom: 12px;
}

q {
  font-family: SF Pro Text Regular;
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.078px;
  color: #6D7986;
  margin-bottom: 12px;
  padding-top: 2px;
}

li{
    font-family: SF Pro Text Regular;
    display: list-item;
    padding-left: 4px;
    margin-bottom: 12px;
}

ul {
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.408px;
  padding-left: 17px;
  display: block;
  list-style-type: disc;
}
ul li {
  list-style-type: "–  ";
  list-style-position: outside;
}

ol {
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.408px;
  padding-left: 17px;
  display: block;
  list-style-type: decimal;
}

ol li {
  list-style-position: outside;
  display: list-item;
  padding-left: 4px;
  margin-bottom: 12px;
}
