::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
body{
    width: 100%;
    color: #0B1F35;
}
header, footer{
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 24px 0px 24px 0px;
}
header{
    top: 0;
}
footer{
    bottom: 0;
}
.logo{
    display: inline-block;
    width: auto
}
.body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F4F5;
    height: 100vh;
}
.iphone-container{
    width: 100%;
    max-width: 327px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 48px;
    height: 716px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
}
.description{
    width: 100%;
    max-width: 327px;
    height: 716px;
    padding: 48px 24px 48px 24px;
    margin: 48px;
}
.btn{
    display: inline-block;
    text-align: center;
    width: 120px;
    font-family: SFTBold;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.408px;
    padding: 12px;
    margin-right: 8px;
    margin-top: 24px;
    background-color: #2B2B2B;
    color: #FFFFFF;
    border-radius: 10px;
}
.tagline{
    margin-bottom: -24px;
    text-transform: uppercase;
}
.divider{
    display: inline-block;
    width: calc(100% + 48px);
    background-color: #F3F4F5;
    line-height: 48px;
    text-align: center;
    margin-left: -24px;
    margin-right: -24px;
    font-family: SFRegular;
    font-size: 13px;
    text-transform: uppercase;
    color: #6D7986;
}
.example{
    padding-bottom: 24px;
}