::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
body{
    width: 100%;
}
header, footer{
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 24px 0px 24px 0px;
}
header{
    top: 0;
}
footer{
    bottom: 0;
}
header img{
    display: inline-block;
}
.body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F4F5;
    height: 100vh;
}
.iphone-container{
    width: 100%;
    max-width: 327px;
    padding: 48px 24px 48px 24px;
    margin: 48px;
    height: 716px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
}
.description{
    width: 100%;
    max-width: 327px;
    height: 716px;
    padding: 48px 24px 48px 24px;
    margin: 48px;
}