::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F4F5;
    height: 100vh;
}
.iphone-container{
    width: 100%;
    max-width: 327px;
    height: 716px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    padding: 48px 24px 48px 24px;
    margin: 48px;
}
.description{
    height: 716px;
    padding: 48px 24px 48px 24px;
    margin: 48px;
}